<div id="ctnr">
	<% if(typeof obj !== "undefined") { %>	
		<div id="list">
			<ul>
				<li class="h">
					<span class="p-id">ID</span>
					<span class="name">Name</span>
					<span class="address">Address</span>
					<span class="city">City</span>
					<span class="more">More</span>
					<div class="clr"></div>
				</li>
				<% var o = obj["places"] %>
				<% for(var i=0;i<o.length;i++){ %>
					<li>
						<span class="p-id"><%= o[i].id %></span>
						<span class="name"><%= o[i].name %></span>
						<span class="address"><%= o[i].address %></span>
						<span class="city"><%= o[i].city %></span>
						<span class="more">
							<a href="/places/<%= o[i].id %>" class='btn fl'>Show</a>
							<a href="/places/<%= o[i].id %>/edit" class='btn fl'>Edit</a>
							<a href="/places/<%= o[i].id %>/delete" class='btn fl'>Delete</a>
							<!-- <form method="delete" action="/places/<%= o[i].id %>">
					      <input type="submit" class="btn fl" value="Delete" onClick="return confirm('Are you sure you want to delete #<%= o[i].id %>?')">
					    </form> -->
						</span>
						<div class="clr"></div>
					</li>
				<% } %>
			</ul>
		</div>
	<% } %>
</div>