<div id="ctnr">
	<% if(typeof obj !== "undefined") { %>	
		<div id="list">
			<ul>
				<li class="h">
					<span class="w15p">ID</span>
					<span class="w15p">Email</span>
					<span class="w15p">Name</span>
					<span class="w15p">Updated_at</span>
					<span class="w15p">More</span>
					<div class="clr"></div>
				</li>
				<% var o = obj["friend_requests"] %>
				<% for(var i=0;i<o.length;i++){ %>
					<li>
						<span class="w15p"><%= o[i].user.id %></span>
						<span class="w15p"><%= o[i].user.email %></span>
						<span class="w15p"><%= o[i].user.first_name %> <%= o[i].user.last_name %></span>
						<span class="w15p"><%= (o[i].updated_at)? o[i].updated_at : "n/a" %></span>
						<span class="w15p">
							<a href="/friends/<%= o[i].user.id %>/approve" class='btn fl'>Accept</a>
						</span>
						<div class="clr"></div>
					</li>
				<% } %>
			</ul>
		</div>
	<% } %>
</div>