<% var o = obj["photos"][0] %>
<div id="ctnr" class="p10">
  <div class="s-ctnr">
    <% if(o.urls && o.urls.medium_500){ %><div class="place"><img src="<%= o.urls.medium_500 %>" /></div><% } %>
    <% for(var info in o){ %>
      <% if(typeof o[info] !== "object"){ %>
        <div class="place"><span class="name fl"><%= info %></span><span class="val fl"><%= o[info] %></span></div>
      <% }else{ %>
        <div class="place"><span class="name fl"><%= info %></span><span class="val fl"><%= JSON.stringify(o[info]) %></span></div>
      <% } %>
      <div class="clr"></div>
    <% } %>
  </div>  
</div>