<div id="ctnr">
  <div id="st">
    <form name="start" action="/reviews" method="get">
      <label>object type:</label><input id="tcn" type="text" name="type" />
      <label>object id:</label><input id="tcn" type="text" name="type_id" class="w300" />
      <input type="submit" value="Submit" class="btn2">
    </form>
  </div>
	<% if(typeof obj !== "undefined") { %>	
		<div id="list">
			<ul>
				<li class="h">
					<span class="obj-id">ID</span>
					<span class="name">rating</span>
					<span class="list-15">content</span>
					<span class="list-15">Updated_at</span>
					<span class="more">More</span>
					<div class="clr"></div>
				</li>
				<% var o = obj["reviews"] %>
				<% if(o.length > 0) { %>
					<% for(var i=0;i<o.length;i++){ %>
						<li>
							<span class="obj-id"><%= o[i].id %></span>
							<span class="name"><%= o[i].rating %></span>
							<span class="list-15"><%= o[i].content %></span>
							<span class="list-15"><%= (o[i].updated_at)? o[i].updated_at : "n/a" %></span>
							<span class="more">
								<a href="/reviews/<%= req.params.type %>/<%= req.params.type_id %>/<%= o[i].id %>" class='btn fl'>Show</a>
								<a href="/reviews/<%= req.params.type %>/<%= req.params.type_id %>/<%= o[i].id %>/edit" class='btn fl'>Edit</a>
								<a href="/reviews/<%= req.params.type %>/<%= req.params.type_id %>/<%= o[i].id %>/delete" class='btn fl'>Delete</a>
							</span>
							<div class="clr"></div>
						</li>
					<% } %>
				<% }else{ %>
					No results found.
				<% } %>
			</ul>
		</div>
	<% } %>
</div>