<div id="ctnr">
	<% if(typeof obj !== "undefined") { %>	
		<div id="list">
			<ul>
				<li class="h">
					<span class="obj-id">ID</span>
					<span class="name">Message</span>
					<span class="obj-id">Place</span>
					<span class="obj-id">Event</span>
					<span class="more">More</span>
					<div class="clr"></div>
				</li>
				<% var o = obj["checkins"] %>
				<% if(o.length > 0) { %>
					<% for(var i=0;i<o.length;i++){ %>
						<li>
							<span class="obj-id"><%= o[i].id %></span>
							<span class="name"><%= o[i].message %></span>
							<span class="obj-id"><% if(typeof o[i].place !== "undefined"){ %><%= o[i].place.id %><% }else{ %>n/a<% } %></span>
							<span class="obj-id"><% if(typeof o[i].event !== "undefined"){ %><%= o[i].event.id %><% }else{ %>n/a<% } %></span>
							<span class="more">
								<a href="/checkins/<%= o[i].id %>" class='btn fl'>Show</a>
								<a href="/checkins/<%= o[i].id %>/delete" class='btn fl'>Delete</a>
							</span>
							<div class="clr"></div>
						</li>
					<% } %>
				<% }else{ %>
					No results found.
				<% } %>
			</ul>
		</div>
	<% } %>
</div>